* {
    font-family: 'Abril Fatface';
}

h3 {
    color: #c8e46f;
    font-size: 23px;
}

li {
    list-style: none;
}

.pink-text {
    color: pink;
    font-style: italic;
    font-weight: 700;
}


#kitchen-img:hover {
    width: 600px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img {
    max-width: 100vw;
    max-height: 100vw;
}

#img-back {
    display: none;
    cursor: pointer;
    width: 200px;
    height: 40px;
}